<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">
        Lists
      </h1>
      <div class="list-menu">
        <div *ngFor="let list of (lists$ | async)">
          <a href="" class="list-menu-item">{{list.title}}</a>
        </div>
      </div>
      <button class="button is-primary has-text-white" (click)="createList()">
        + New List
      </button>
    </div>
    <div class="tasks-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>
    </div>
  </div>
</div>
